<h1>results</h1>

<p>Sorry but <%= @score %> cannot be built out of <%= @letters.join(", ") %></p>

<p>Sorry but <%=  %> dosn't seem to be a valid english word</p>

<p><strong>Congratulations!</strong><%=  %> is a valid english word!</p>
